_build/
*.install
*/.merlin
checkseum/
decompress/
digestif/
irmin/
mirage-kv/
mirage/.mirage.config
mirage/Makefile
mirage/caldav
mirage/key_gen.ml
mirage/main.ml
mirage/main.native
mirage/*.opam
mirage/myocamlbuild.ml
mirage/static1.ml
mirage/static1.mli
ocaml-git/
